/* RESET */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* COMMON */
body {
    font-family: 'Lato', sans-serif;
}

/* HEADER */
header {
    position: relative;
    width: 100%;
    height: 80px;
    background-color: black;
}

.btns-header {
    position: absolute;
    top: 10px;
    right: 5px;
    display: inline-block;
    color: white;
}

.btn-header.mr-10 {
    margin-right: 10px;
}

.btn-header {
    background-color: rgb(151, 151, 151);
    padding: .2rem .2rem;
    border-radius: 5px;
}
/* /HEADER */

/* MAIN */
main {
    width: 100%;
    height: calc(100vh - 180px);
    background-color: black;
    padding-bottom: 1.5rem;
    overflow-y: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.user-box {
    position: relative;
    width: 250px;
    height: 150px;
    /* border: 1px solid white; */
    margin: 0 .2% .6% 0;
}

.user-btn {
    position: absolute;
    bottom: 6px;
    left: 0;
    padding: .2rem .3rem;
    background-color: rgba(54, 54, 54, 0.4);
    color: white;

}
/* /MAIN */


footer {
    width: 100%;
    height: 100px;
    background-color: brown;
}