/* RESET */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* COMMON */
body {
    font-family: 'Lato', sans-serif;
}

/* HEADER */
header {
    position: relative;
    width: 100%;
    height: 80px;
    background-color: black;
}

.btns-header {
    position: absolute;
    top: 10px;
    right: 5px;
    display: inline-block;
    color: white;
}

.btn-header {
    background-color: rgb(116, 116, 116);
    padding: .2rem .4rem;
    border-radius: 5px;
}

.btn-header.mr-10 {
    margin-right: 10px;
}
/* /HEADER */

/* MAIN */
main {
    width: 100%;
    height: calc(100vh - 180px);
    background-color: black;
    padding-bottom: 1.5rem;
    overflow-y: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.user-box {
    position: relative;
    width: 250px;
    height: 150px;
    /* border: 1px solid white; */
    margin-right: 5px;
    margin-bottom: 10px;
}

.user-btn {
    position: absolute;
    bottom: 6px;
    left: 0;
    padding: .2rem .3rem;
    background-color: rgba(54, 54, 54, 0.4);
    color: white;

}
/* /MAIN */

/* FOOTER */
footer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100px;
    background-color: rgb(39, 39, 39);
}

.footer-left {
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-center {
    width: 65%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-right {
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(107, 107, 107);
    color: red;
    font-weight: 600;
    font-size: 1rem;
}

.footer-item {
    text-align: center;
    color: white;
    margin-right: 1.5rem;
}

.footer-item-icon {
    display: inline-block;
    vertical-align: middle;
}

.entity-footer {
    display: block;
    font-size: 2rem;
    margin-bottom: .2rem;
}

.entity-footer.green {
    color: #4bc800;
}

.footer-item-angle-up {
    display: inline-block;
    margin-left: .5rem;
}


.item-text {
    font-size: 1.1rem;
}
/* /FOOTER */
